{% extends "layout.html" %}

{% block body %}
   <div class = "container">
      <div class = "row">
         <div class = "col-md-12 text-center">
            <h1>Debrief form</h1>
         </div>
      </div>
      <div class = "row">
         <div class = "col-md-12 text-center">
            <hr>

            <p>Thank you for taking part in this study. Please read the following information carefully.</p>

            <p>You have been misled about the nature of the experiment. Throughout, you were told you were playing with another participant. This was not the case; you have been completing this experiment on your own. Your decisions never impacted any other participant and any information presented to you about other participants was made up. The true aim of this study was to understand the evolution of altruistic and antisocial behaviour and how this is influenced by others.</p>

            <p>If you would now like to withdraw from the study, please click “Remove my data” to return the HIT and have your data destroyed. Otherwise, simply press continue to complete the study and receive your payment and bonus.</p> 

            <hr>
         </div>
      </div>  
      <div class="row">
         <div class="col-md-2">
            <button type = "button" class = "btn btn-warning btn-lg" onClick="removeMe()">Remove my data</button>
         </div>
         <div class="col-md-8"></div>
         <div class="col-md-2">
            <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('survey')">Continue</button>
         </div>
      </div>
   </div>
{% endblock %}

{% block scripts %}
    <script>
    </script>
{% endblock %}
