{% extends "layout.html" %}

{% block body %}
    <div class="main_div text-center">
        <h1>Instructions for part 1</h1>

        <hr>

        <h3>During part 1, you and another player will be playing a game <strong>independently</strong> with a <strong>bot</strong>. Each round, you will be given 10 points and then must decide how much of this to send to the bot (you will get to keep what you don't send). The bot will then send some points back to you, which vary depending on your choice.</h3> 

        <h3>The points you earn in this game will determine your bonus payment at the end of the experiment.</h3>

        <h3>When you are ready proceed, click "Begin" below.</h3>

        <hr>

        <div>
            <div class="row">
                <div class="col-10"></div>
                <div class="col-2">
                    <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('experiment')">
                    Begin</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        dallinger.createParticipant();
    </script>
{% endblock %}
