{% extends "layout.html" %}

{% block body %}
  <div class = "container">
      <div class = "row">
         <div class = "col-md-12 text-center">
            <h1 style="font-size: 53px">Part Two</h1>
         </div>
      </div>
      <div class = "row" id = "Waiting" style = "display:none">
        <div class = "col-md-12 text-center">
          <h2 id = "Txt">Randomly assigning roles, please wait a moment...</h2>
        </div>
      </div>
      <div class = "row" id = Decider style = "display:none">
        <div class = "col-md-12 text-center">
          <hr>
          <h3>Using a slider like the one below, you can <strong>increase</strong> your partners score by sliding to the <strong>right</strong> and <strong>decrease</strong> it by sliding it to the <strong>left</strong>.</h3>
          <h3><strong>Your score will decrease by 1 point for every 3 points you change your partner's score by.</strong></h3> 
          <h3>Try sliding the slider below to see how this works.</h3>
          <h3 id = "social" style = "display:none">To help you make your decision, you will be shown information about what <strong>previous participants</strong> chose to do as the decider.</h3>
          <hr>
        </div>
      </div>
      <div class = "row" id = Sliderrow style = "display:none">
        <div class = "col-md-12 text-center">
         <div class="slidecontainer">
            <label for = "Reduction">Change to your partner's score:</label>
               <input type="text" class="js-range-slider" name="my_range" value=""
             data-min="-10"
             data-max="10"
             data-from="0"/>
         </div>
        </div>
      </div>
    <div class = "row mt-5" id = Scorerow style = "display:none">
      <div class = "col-md-4"></div>
      <div class = "col-md-4 text-center">
         <h4>Your final score will be:</h4>
         <h4 id = "Change">Your partner's score <strong>will not change</strong></h4>
      </div>
      <div class = "col-md-4 text-left">
        <h4 id = YourScore>0</h4>
        <h4 id = Score>0</h4>
      </div>
    </div> 
      <div class = "row" id = Instructions>
         <div class = "col-md-12 text-center">
            <hr>
            <h3>You and the other participant (your partner) will complete the second part of the game <strong>together.</strong></h3>
            <h3>One of you will be randomly allocated to the <strong>decider</strong> role who can change the other participant's score.</h3>
            <h3>After this, <strong>the game is over</strong>. The other participant <strong>cannot</strong> respond to their score being changed.</h3>
            <hr>
         </div>
      </div>
      <div class="row" id = "Allocate">
         <div class="col-md-10"></div>
         <div class="col-md-2">
            <button type="button" class="btn btn-success btn-lg" onClick="allocatePartners(condition);">OK</button>
         </div>
      </div>
      <div class="row" id = "Next" style = "display:none">
         <div class="col-md-10"></div>
         <div class="col-md-2">
            <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('experiment2')">Next</button>
         </div>
      </div>
   </div>
{% endblock %}
{% block scripts %}
    <script>
    my_node_id = dallinger.storage.get("my_node_id");
    Score = parseInt($("#Score").html());
    $("#YourScore").html(dallinger.storage.get("Score"));
    yourScore = parseInt($("#YourScore").html());

        condition = randomiseCondition();
        dallinger.storage.set("Condition", condition);

        function byThree (n) {
               var num = n * 3;
               return num;
           }
        var $slider = $(".js-range-slider");
           $(".js-range-slider").ionRangeSlider({
           skin: "big",
           hide_min_max: true,
           prettify: byThree
         });
         $slider.on("change", function(){
            updatePoints($slider.prop('value'));
         });  
    </script>
{% endblock %}
